/*Menu System */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: arial;
    text-align: left;
    width: 100%;
    position: sticky; 
    top: 0;
  }
  ul.topnav li {float: left;}
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-size: 17px;
    border-right: 1px solid #bbb;
  }
  ul.topnav li a:hover:not(.active) {
      background-color: #ddd;
      color: black; 
  }
  ul.topnav li a.active {
      background-color: red;

  }
  ul.topnav li.right {
      float: right;
  }
  @media screen and (max-width: 720px) {
    ul.topnav li{
        width: 100%;
    }
    ul.topnav a{
        width: 100%;
    }
  }


  /* button */

  button {
    background-color: #51b3da;
    color: rgb(0, 0, 0);
    padding: 8px 15px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    float: left;
    clear: both;
}


#addbutton {
    position: absolute;
}

/* heading 1 */

h1 {
    font-size:2em;
    font-weight:bold;
    text-align: center;
    
}

h2 {
    margin: 0;
    font-family: "Playfair Display", serif;
    font-style: italic;
  }

h3 {
    text-align: center;
}

/*body*/
body {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/mwGE0Fi.jpg)
  }

  /*login form */
.login-form {
    clear: both;
    width: 62%;
    padding: 0.625em;
    background-color: #8bcdf3;
    text-align: center;
    margin: auto;
    width: 50%;
}


input[type=text] {
    width: 20%;
    padding: 3px 3px;
    margin-left: 40%;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type=password] {
    width: 20%;
    padding: 3px 3px;
    margin-left: 40%;
    box-sizing: border-box;
    border-radius: 5px;
}

/* add items */

.AddItems{
    clear: both;
    width: 62%;
    padding: 0.625em;
    background-color: #8bcdf3;
    text-align: center;
    margin: auto;
    width: 50%;
    height: 350px;
}

#haddmed {
    color: blue;
}

/*body*/
body {
    margin: auto;
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/mwGE0Fi.jpg);
    background-size: cover;
  }


#additemstable {
    width: 80%;
    margin-left: 10%;
}

#warehousetable1 {
    width: 90%;
    margin-left: 5%;
}

#warehousetable2 {
    width: 90%;
    margin-left: 5%;
}

#warehousetable3 {
    width: 90%;
    margin-left: 5%;
}

#admintable {
    width: 80%;
    margin-left: 10%;
}

#salesreporttable {
    width: 80%;
    margin-left: 10%;
}


/*Home page */
.wrapper {
    display: inline-grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px;
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
  }
  
  #welcome {
      padding: 5px;
  }

  .box {
    background-color: rgb(4, 46, 73);
    border-radius: 5px;
    padding: 50px;
    background-size: 50px;
    align-self: flex-start;
    size-adjust: relative;
  }


  .dashboard{
      margin-left: 40%;
      width: 25%;
  }



  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: gray;
  }

  .error{
      color: red;
      font-size: 12px;
      font-style: italic;
  }

/* warehouse page */

.exportData {
    text-align: center;
}

/* admin page*/

.searchItem {
    text-align: center;
}

.updateItemStatus {
    text-align: center;
}

#searchq {
    size: 50px;
}

/* add sales */

#customerorder {
    text-align: center;
    padding-bottom: 10px;
    color: blue;
}

.AddSales {
    margin-left: 45%;
    padding: 2px;
}

#addBtn {
    margin-left: 6%;
}

#addsalesquantity {
    padding-top: 10px;
}

#Quantity {
    width: 125px;
}

#OrderTable {
    width: 40%;
    margin-left: 30%;
}

#processBtn {
    margin-left: 65%;
}


/* footer */

 #page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    
  }
  
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;      
    background-color: #333;
    text-align: center;      
    color: white;
  }

